@model Online_Recharge_WebApp.Models.CustomerSupport

@{
    ViewData["Title"] = "Create";
}

<h1>Customer Support</h1>

<h4>Complaint Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EmailId" class="form-control" value="@User.Identity.Name" placeholder="Email Id"  hidden/>
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="EntryType" class="form-control" placeholder="Subject" />
                <span asp-validation-for="EntryType" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="ComplaintMessage" class="control-label"></label>
                <textarea asp-for="ComplaintMessage" class="form-control" ></textarea>
                <span asp-validation-for="ComplaintMessage" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Back to List</a>
               
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
